{% extends 'olympiadesnsi/base_extranet.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <div class="container my-4">
        <h2>{% trans "Récupération de compte" %}</h2>
        <p>{% trans "Veuillez fournir votre nom d'utilisateur et votre adresse e-mail pour récupérer votre compte." %}</p>

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6 mb-3">
                    {{ form.username|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.email|as_crispy_field }}
                </div>
                <div class="col-md-6 mb-3">
                    {{ form.captcha|as_crispy_field }}
                </div>
            </div>
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans "Récupérer le compte" %}</button>
        </form>
    </div>
{% endblock %}
