body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    margin-top: auto; /* Pousse le footer en bas */
}

.add-button {
    margin-left: 10px;
}

.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
}

.form-control {
    margin-left: 10px; /* Ajoute de l'espace à gauche */
    margin-right: 10px; /* Ajoute de l'espace à droite */
}

/* Ajoutez ceci dans votre fichier CSS */
.form-group {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 1rem; /* Ajustez selon votre préférence */
}

.form-group label {
    text-align: left;
    margin-left: 20px;
    flex: 0 0 10%; /* Ajustez la largeur du label selon vos besoins */
}

.form-group input,
.form-group textarea {
    flex: 0.25; /* Le champ de formulaire occupe l'espace restant */
    margin-left: 10px;
}


.date-input-container {
    position: relative; /* Conteneur pour le champ de date et le calendrier */
}

.date-input-container input[type="date"] {
    width: 100%; /* le champ de date occupe toute la largeur du conteneur */
}


.form-check {
    margin-bottom: 1rem; /* l'espace en dessous de chaque case à cocher */
}

.form-check-input {
    margin-left: 70px;
    padding-left: 50px;
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

input[type="text"], input[type="date"], textarea, select {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 8px 0;
    padding: 12px;
    width: 100%; /* Full width */
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}
