{% extends 'olympiadesnsi/base_extranet.html' %}

{% block title %} Olympiades NSI - À propos {% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">À propos des Olympiades de NSI</h1>

        <!-- Comités d'organisation -->
        <div class="col-md-12 mb-4">
            <h3><i class="fas fa-users" style="color: #0056b3;"></i> Comités d'organisation</h3>

            <h5 class="mt-3">Édition 2024</h5>
            <p class="text-justify">
                Les membres du comité d’organisation de l'épreuve pratique 2024, par rôle puis ordre alphabétique :
            </p>
            <ul>
                <li><strong>Xavier Gabilly</strong> — IA-IPR</li>
                <li><strong>Christine Weill</strong> — IA-IPR</li>
                <li><strong>Jean-François Alliot</strong> — Professeur de NSI, coordination des exercices</li>
                <li><strong>Pierre Andrieu</strong> — Professeur de NSI, développement du logiciel de l'épreuve pratique
                </li>
                <li><strong>Eugénie Brasier</strong> — Professeure de NSI</li>
                <li><strong>Loïc Leu</strong> — Professeur de NSI</li>
                <li><strong>Théodore Lopez</strong> — Professeur de NSI</li>
                <li><strong>Franck Vincent</strong> — Professeur de NSI</li>
            </ul>

            <h5 class="mt-3">Édition 2025</h5>
            <p class="text-justify">
                Les membres du comité d’organisation de l'épreuve pratique 2025, par rôle puis ordre alphabétique :
            </p>
            <ul>
                <li><strong>Xavier Gabilly</strong> — IA-IPR</li>
                <li><strong>Christine Weill</strong> — IA-IPR</li>
                <li><strong>Jean-François Alliot</strong> — Professeur de NSI, coordination des exercices</li>
                <li><strong>Pierre Andrieu</strong> — Professeur de NSI, développement du logiciel de l'épreuve pratique
                </li>
                <li><strong>Franck Vincent</strong> — Professeur de NSI</li>
            </ul>
        </div>

        <!-- Remerciements -->
        <div class="col-md-12 mb-4">
            <h3><i class="fas fa-handshake" style="color: #0056b3;"></i> Remerciements</h3>
            <p class="text-justify">
                Nous exprimons notre profonde gratitude à <a
                    href="https://www.ac-versailles.fr/dsi-du-rectorat-de-versailles-equipe-de-maintenance-informatique-de-proximite-emip-126380"
                    target="_blank">la DSI de l'académie de Versailles</a>, dont le soutien a permis l’hébergement
                sécurisé du logiciel et son bon fonctionnement lors des olympiades.
            </p>
            <p class="text-justify">
                Un grand merci à <strong>Guillaume Barré</strong>, <strong>François Lafont</strong> et <strong>Olivier
                Le Cam</strong>,
                membres de la DSI, pour leur accompagnement technique, leur disponibilité et leur réactivité tout au
                long du projet.
            </p>
        </div>


            <!-- Contact -->
            <div class="col-md-12 mb-4">
                <h3><i class="fas fa-envelope" style="color: #0056b3;"></i> Contact</h3>
                <p class="text-justify">
                    Pour tout signalement de bug, merci de contacter :
                    <span class="fw-bold" title="Remplacer [at] par @ et [dot] par .">pierre.andrieu [at] ac-versailles [dot] fr</span>
                </p>
            </div>


        </div>
{% endblock %}
