{% extends 'olympiadesnsi/base.html' %}

{% block title %} Olympiades NSI - Accueuil {% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Olympiades Nationales de NSI</h1>
        
        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Participation</h2>
                <p>
                    Les professeurs de NSI inscrivent [...]
                </p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Les Objectifs</h2>
                <p>Les Olympiades NSI visent à stimuler l'intérêt pour l'informatique et les sciences numériques. Elles
                    permettent aux lycéens de découvrir de nouveaux horizons dans ces domaines et de renforcer leurs
                    compétences en résolution de problèmes complexes, à la fois sur une épreuve théorique et sur une épreuve de programmation sur machine</p>
            </div>
        </div>


        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Épreuves et Format</h2>
                <p>Les épreuves des Olympiades NSI comprennent des défis de programmation, des puzzles algorithmiques et
                    des projets collaboratifs. Chaque épreuve est conçue pour tester à la fois la créativité et les
                    compétences techniques des participants.</p>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-12">
                <h2>Session 2024</h2>
                <a href="{% url 'login_participant' %}" class="btn btn-primary">Espace Candidat</a>
                <a href="{% url 'login_organisateur' %}" class="btn btn-secondary">Espace Jury</a>
            </div>
        </div>
        <!-- Autres sections selon besoin -->
    </div>
{% endblock %}
