{% extends template_base %}
{% load static %}

{% block prescripts %}
    <script id="url-soumission" type="text/plain">
    {{ url|escapejs }}
</script>

    <script src="{% static 'js/skulpt/skulpt.es5.min.js' %}?v={{ STATIC_VERSION }}"></script>
    <script src="{% static 'js/skulpt/skulpt-stdlib.js' %}?v={{ STATIC_VERSION }}"></script>
    <script src="{% static 'js/charger_mathjax.js' %}?v={{ STATIC_VERSION }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.3.1/highlight.min.js"></script>

{% endblock %}

{% block attributs_body %}
    data-un-par-un="{{ epreuve.exercices_un_par_un|yesno:'true,false' }}"
    data-lecture-seule="{{ lecture_seule|yesno:'true,false' }}"
{% endblock %}


{% block content %}
        <div class="container mt-4">
            <h1>{{ epreuve.nom }}</h1> <br/><br/>

            <div id="etat-exercices"></div>

            {% if epreuve.temps_limite %}
                <div id="chronometre">Temps restant : <span id="temps-restant"></span></div>
                {{ temps_restant|json_script:"temps-restant-data" }}
            {% endif %}

            <div class="exercise-wrapper position-relative my-5">
                <button id="btn-nav-left" class="floating-nav-btn left" title="Exercice précédent">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <div id="exercice-container" class="exercise-box px-2"></div>

                <button id="btn-nav-right" class="floating-nav-btn right" title="Exercice suivant">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>


            <div id="etat-exercices2"></div>
        </div>

        <div id="etat-exercices2"></div>
{% endblock %}

{% block scripts %}
    <script type="application/json" id="exercises-data">
    {{ exercices_json|safe }}
    </script>
    <script src="{% static 'js/affichage_exercices/chronometre.js' %}?v={{ STATIC_VERSION }}"></script>
    <script type="module" src="{% static 'js/affichage_exercices/python.js' %}?v={{ STATIC_VERSION }}"></script>
    <script type="module" src="{% static 'js/affichage_exercices/main.js' %}?v={{ STATIC_VERSION }}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/python/python.min.js"></script>

{% endblock %}
