{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1 style="text-align: center">Ajout d'exercice pour {{ epreuve.nom }}</h1>

        <form method="post">
            {% csrf_token %}

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                {% if field.name in champs_visibles %}
                <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.help_text %}
                            <i class="fas fa-question-circle ml-2" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{ field.help_text }}"></i>
                        {% endif %}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <div id="jeux_de_test_container" class="hiddenjdt">

                <div class="mt-3">
                    <label for="{{ form.retour_en_direct.id_for_label }}">{{ form.retour_en_direct.label }}</label>
                    {{ form.retour_en_direct }}
                </div>


                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.jeux_de_test.id_for_label }}">Jeu de Test</label>
                        {{ form.jeux_de_test }}
                        <!-- Champ pour le séparateur des jeux de test -->
                        <div class="form-group mb-2">
                            <label for="separateur_jeux_de_test">Séparateur pour le jeu de test</label>
                            <input type="text" id="separateur_jeux_de_test" name="separateur_jeux_de_test" class="form-control" value="{{separateur_jeux_de_test}}" placeholder="Séparateur personnalisé">
                        </div>
                        <br>Nombre de jeux de test : <span id="nombre_jeux_test">0</span>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.resultats_jeux_de_test.id_for_label }}">Résultat Attendu</label>
                        {{ form.resultats_jeux_de_test }}
                        <!-- Champ pour le séparateur des résultats attendus -->
                        <div class="form-group mb-2">
                            <label for="separateur_resultats">Séparateur pour le résultat attendu</label>
                            <input type="text" id="separateur_resultats" name="separateur_resultats_jeux_de_test" class="form-control" value="{{separateur_resultats_jeux_de_test}}" placeholder="Séparateur personnalisé">
                        </div>
                        <br>Nombre de réponses associées : <span id="nombre_resultats">0</span>
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Ajouter Exercice</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/creation_exercice.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
