{% extends 'olympiadesnsi/base_organisateur.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 style="text-align: center">Ajout d'exercice pour {{ epreuve.nom }}</h1>

        <form method="post">
            {% csrf_token %}

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}

            {% for field in form %}
                {% if field.name in champs_visibles  %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.help_text %}
                            <i class="fas fa-question-circle ml-2" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{ field.help_text }}"></i>
                        {% endif %}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">{{ field.errors }}</div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <div id="jeux_de_test_container" style="display: none;">

                <div class="mt-3">
                    <label for="{{ form.retour_en_direct.id_for_label }}">{{ form.retour_en_direct.label }}</label>
                    {{ form.retour_en_direct }}
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.jeux_de_test.id_for_label }}">Jeu de Test</label>
                        {{ form.jeux_de_test }}
                        <br>Nombre de jeux de test : <span id="nombre_jeux_test">0</span>
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.resultats_jeux_de_test.id_for_label }}">Résultat Attendu</label>
                        {{ form.resultats_jeux_de_test }}
                        <br>Nombre de réponses associées : <span id="nombre_resultats">0</span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter Exercice</button>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxAvecJeuDeTest = document.getElementById('id_avec_jeu_de_test');
            const jeuxDeTestContainer = document.getElementById('jeux_de_test_container');
            const retourEnDirect = document.getElementById('id_retour_en_direct');

            checkboxAvecJeuDeTest.addEventListener('change', function () {
                jeuxDeTestContainer.style.display = checkboxAvecJeuDeTest.checked ? 'block' : 'none';
                retourEnDirect.disabled = !checkboxAvecJeuDeTest.checked;
            });

            function updateCounts() {
                const jeuxDeTestValue = document.getElementById('id_jeux_de_test').value.split('\n').filter(line => line.trim() !== '').length;
                const resultatsValue = document.getElementById('id_resultats_jeux_de_test').value.split('\n').filter(line => line.trim() !== '').length;
                document.getElementById('nombre_jeux_test').textContent = jeuxDeTestValue;
                document.getElementById('nombre_resultats').textContent = resultatsValue;
            }

            document.getElementById('id_jeux_de_test').addEventListener('input', updateCounts);
            document.getElementById('id_resultats_jeux_de_test').addEventListener('input', updateCounts);
            updateCounts();

            // Tooltips initialization for Bootstrap 5
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
            tooltipTriggerList.forEach(function (tooltipTriggerEl) {
                new bootstrap.Tooltip(tooltipTriggerEl);
            });
        });
    </script>
{% endblock %}
