{% extends 'olympiadesnsi/base.html' %}  <!-- Remplacez par votre template de base -->

{% block content %}
    <div class="container mt-4">
        <h1>{{ epreuve.nom }}</h1>

        <div class="mb-3">
            <strong>Date de début :</strong> {{ epreuve.date_debut|date:"d M Y" }}<br>
            <strong>Date de fin :</strong> {{ epreuve.date_fin|date:"d M Y" }}
        </div>

        {% if epreuve.temps_limite %}
            <div class="alert alert-info">
                Cette épreuve est à durée limitée.
                <strong>Durée :</strong> {{ epreuve.duree }} minutes.
                Le chronomètre démarrera lorsque vous aurez cliqué sur "Démarrer l'épreuve".
            </div>
        {% else %}
            <div class="alert alert-success">
                Il n'y a pas de limite de temps pour cette épreuve.
            </div>
        {% endif %}

        {% if epreuve.exercices_un_par_un %}
            <div class="alert alert-warning">
                Les exercices doivent être traités un par un.
            </div>
        {% else %}
            <div class="alert alert-secondary">
                Vous pouvez traiter les exercices dans l'ordre de votre choix.
            </div>
        {% endif %}

        {% if indication_utilisateurs_retour > 0 %}
            <div class="alert alert-secondary">
                <p> Pour {{ indication_utilisateurs_retour }} exercice(s) de cette épreuve, un retour en direct
                vous est fourni concernant la réponse au jeu de test sur lequel vous devrez
                    travailler. </p>

                <p> Un crayon vert indique que votre réponse est correcte (ce qui ne signifie pas
                nécessairement que le code est correct) et qu'un code a bien été soumis.

                    Faites attention à ce que le code soumis corresponde bien à la version qui a permis de générer la réponse validée !
                </p>

                <p> Un crayon orange indique que votre réponse est correcte mais qu'aucun code n'a été soumis. </p>

                <p> Un crayon rouge indique que votre réponse est incorrecte. </p>
            </div>
        {% endif %}

        <a href="{% url 'afficher_epreuve' epreuve.id %}" class="btn btn-primary">Démarrer l'épreuve</a>

    </div>
{% endblock %}
