{% extends 'olympiadesnsi/base_participant.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ epreuve.nom }}</h1>

        <div class="mb-3">
            <strong>Date de début :</strong> {{ epreuve.date_debut|date:"d M Y" }}<br>
            <strong>Date de fin :</strong> {{ epreuve.date_fin|date:"d M Y" }}
        </div>

        {% if epreuve.temps_limite %}
            <div class="alert alert-info">
                Cette épreuve est à durée limitée.
                <strong>Durée :</strong> {{ epreuve.duree }} minutes.
                Le chronomètre démarrera lorsque vous aurez cliqué sur "Démarrer l'épreuve".
            </div>
        {% else %}
            <div class="alert alert-success">
                Il n'y a pas de limite de temps pour cette épreuve.
            </div>
        {% endif %}

        {% if epreuve.exercices_un_par_un %}
            <div class="alert alert-warning">
                Les exercices doivent être traités un par un.
            </div>
        {% else %}
            <div class="alert alert-secondary">
                Vous pouvez traiter les exercices dans l'ordre de votre choix.
            </div>
        {% endif %}

        {% if indication_utilisateurs_retour > 0 %}
            <div class="alert alert-info shadow-sm border rounded p-3">
                <p>
                    <strong>🔎 Pour {{ indication_utilisateurs_retour }} exercice(s), vous avez un retour en
                        direct</strong>
                    sur la réponse au jeu de test que vous enregistrez.
                </p>

                <ul class="list-unstyled">
                    <li>
                        <i class="indic-exo-valide fa-regular fa-circle-check fa-lg" style="color:green;"></i>
                        <strong> Réponse correcte avec code enregistré :</strong> votre réponse au jeu de test est valide
                        et un code a bien été enregistré.
                    </li>
                    <li>
                        <i class="indic-exo-code-manquant fa-regular fa-pencil fa-lg" style="color:orange;"></i>
                        <strong> Réponse correcte mais code manquant :</strong> attention, votre réponse est correcte
                        mais aucun code n’a été soumis.
                    </li>
                    <li>
                        <i class="indic-exo-invalide fa-regular fa-circle-xmark fa-lg" style="color:red;"></i>
                        <strong> Réponse incorrecte :</strong> votre code n’a pas produit la bonne réponse.
                    </li>
                    <li>
                        <i class="indic-exo-non-soumis fa-regular fa-circle-question fa-lg" style="color:gray;"></i>
                        <strong> Exercice non soumis ou absence de vérification:</strong> Soit aucune réponse n’a été enregistrée, soit aucune vérification n'est prévue pour cet exercice.
                    </li>
                </ul>
            </div>
        {% endif %}

        {% if "olympiades" in epreuve.nom|lower %}
            <div class="alert alert-warning mt-3" role="alert">
                ⚠️ <strong>Attention :</strong> pour les Olympiades de NSI, l'utilisation d'une intelligence
                artificielle pendant l'épreuve est strictement interdite.
            </div>
        {% endif %}

        {% if epreuve.doit_demander_identifiants %}
            <p>Merci de renseigner votre situation concernant l'épreuve théorique :</p>

            <form method="POST">
                {% csrf_token %}
                {% for i in "123"|make_list %}
                    <div class="card mb-3 p-3" id="participant_card_{{ i }}">
                        <div class="form-group">
                            <label class="form-label"><strong>Participant {{ i }} :</strong></label>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choix_{{ i }}" value="1"
                                       id="choix_{{ i }}_1"
                                       {% if anonymats|slice:forloop.counter0|first not in "X-?" %}checked{% endif %}
                                       onchange="toggleInput('{{ i }}'); cascadeDisable('{{ i }}', false);">
                                <label class="form-check-label" for="choix_{{ i }}_1">
                                    J'ai participé et j'ai mon numéro d'anonymat
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choix_{{ i }}" value="2"
                                       id="choix_{{ i }}_2"
                                       {% if anonymats|slice:forloop.counter0|first == "?" %}checked{% endif %}
                                       onchange="toggleInput('{{ i }}'); cascadeDisable('{{ i }}', false);">
                                <label class="form-check-label" for="choix_{{ i }}_2">
                                    J'ai participé mais je n'ai pas mon numéro
                                </label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="choix_{{ i }}" value="3"
                                       id="choix_{{ i }}_3"
                                       {% if anonymats|slice:forloop.counter0|first == "-" %}checked{% endif %}
                                       onchange="toggleInput('{{ i }}'); cascadeDisable('{{ i }}', false);">
                                <label class="form-check-label" for="choix_{{ i }}_3">
                                    Je n'ai pas participé
                                </label>
                            </div>

                            {% if forloop.counter > 1 %}
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="choix_{{ i }}" value="4"
                                           id="choix_{{ i }}_4"
                                           {% if anonymats|slice:forloop.counter0|first == "X" %}checked{% endif %}
                                           onchange="toggleInput('{{ i }}'); cascadeDisable('{{ i }}', true);">
                                    <label class="form-check-label text-danger" for="choix_{{ i }}_4">
                                        L'équipe ne comporte pas autant de participants
                                    </label>
                                </div>
                            {% endif %}

                            <input type="text" class="form-control anonymat mt-2" id="anonymat_{{ i }}"
                                   name="anonymat_{{ i }}"
                                   value="
                                           {% if anonymats|slice:forloop.counter0|first not in 'X-?' %}{{ anonymats|slice:forloop.counter0|first }}{% endif %}"
                                   {% if anonymats|slice:forloop.counter0|first in 'X-?' %}style="display:none;"{% endif %}
                                   placeholder="Entrez votre numéro d'anonymat">
                        </div>
                    </div>
                {% endfor %}


                <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
            </form>
        {% else %}
            <a href="{% url 'afficher_epreuve' epreuve.hashid %}" class="btn btn-primary">Démarrer l'épreuve</a>
        {% endif %}

    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/detail_epreuve.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
