{% extends 'olympiadesnsi/base_organisateur.html' %}

{% block content %}
    <div class="container mt-4">
        <h1 style="text-align: center">Modification de l'Exercice</h1>
        <h2 style="text-align: center">{{ epreuve.nom }}</h2>

        <form method="post" onsubmit="return verifierJeuxDeTests()">
            {% csrf_token %}

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}
            <div>
                <label>{{ form.titre.label }}</label>
                {{ form.titre }}
            </div>
            <div>
                <label>{{ form.enonce.label }}</label>
                {{ form.enonce }}
            </div>
            <div>
                <label>{{ form.enonce_code.label }}</label>
                {{ form.enonce_code }}
            </div>
            <div>
                <label>{{ form.code_a_soumettre.label }}</label>
                {{ form.code_a_soumettre }}
            </div>
            <div>
                <label>{{ form.nombre_max_soumissions.label }}</label>
                {{ form.nombre_max_soumissions }}
            </div>

            <div>
                <label>{{ form.avec_jeu_de_test.label }}</label>
                {{ form.avec_jeu_de_test }}
            </div>
            <div>
                <label>{{ form.retour_en_direct.label }}</label>
                {{ form.retour_en_direct }}
            </div>

            <!-- Champs de jeux de tests affichés séparément -->
            <br>
            <p id="annonce">Insérez ci-dessous vos nouveaux jeux de test</p>

            <div id="div_jeux_de_tests" style="display: none;">
                <div style="float: left; width: 50%;">
                    <label>Jeu de Test</label>
                    {{ form.jeux_de_tests }}
                    <br>Nombre de nouveaux jeux de test : <span id="nombre_jeux_tests">0</span>
                </div>
                <div style="float: right; width: 50%;">
                    <label>Résultat Attendu</label>
                    {{ form.resultats_jeux_de_tests }}
                    <br>Nombre de réponses associées : <span id="nombre_resultats">0</span>
                </div>
                <div style="clear: both;"></div>
            </div>

            <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
            <a href="{% url 'espace_organisateur' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let checkboxAvecJeuDeTest = document.getElementById('id_avec_jeu_de_test');
        let divJeuxDeTests = document.getElementById('div_jeux_de_tests');
        let retourEnDirect = document.getElementById('id_retour_en_direct');
        let paragrapheAnnonce = document.getElementById("annonce");

        function toggleJeuxDeTests() {
            if (checkboxAvecJeuDeTest.checked) {
                divJeuxDeTests.style.display = 'block';
                retourEnDirect.disabled = false;
                paragrapheAnnonce.style.display = 'block';
            } else {
                divJeuxDeTests.style.display = 'none';
                retourEnDirect.disabled = true;
                retourEnDirect.checked = false;
                paragrapheAnnonce.style.display = 'none';

            }
        }

        checkboxAvecJeuDeTest.addEventListener('change', toggleJeuxDeTests);
        toggleJeuxDeTests(); // Appel initial pour définir l'état correct
    });
</script>
<script>
    function compterLignes() {
        let jeuxDeTests = document.getElementById('id_jeux_de_tests').value.split('\n').filter(line => line.trim()).length;
        let resultats = document.getElementById('id_resultats_jeux_de_tests').value.split('\n').filter(line => line.trim()).length;

        // Affichez les nombres quelque part sur la page, par exemple dans des éléments span
        document.getElementById('nombre_jeux_tests').textContent = jeuxDeTests;
        document.getElementById('nombre_resultats').textContent = resultats;
    }

    document.addEventListener('DOMContentLoaded', function () {
        // Ajoutez des écouteurs d'événements pour les champs de texte
        document.getElementById('id_jeux_de_tests').addEventListener('input', compterLignes);
        document.getElementById('id_resultats_jeux_de_tests').addEventListener('input', compterLignes);

        compterLignes(); // Appel initial pour définir l'état correct
    });
</script>

{% endblock %}