{% extends 'olympiadesnsi/base.html' %}

{% block content %}
<body>
<h1>Groupe : {{ groupe.nom }}</h1>
<p>Nombre d'utilisateurs : {{ nombre_utilisateurs }}</p>
<h2>Épreuves inscrites</h2>
<ul>
    {% for epreuve in epreuves_inscrites %}
        <li>{{ epreuve.nom }}</li>  <!-- Remplacez 'nom' par l'attribut approprié de votre modèle -->
    {% endfor %}
</ul>

<form action="{% url 'inscrire_epreuves' id_groupe=groupe.id %}" method="post">
    {% csrf_token %}
    <h2>Inscrire le groupe aux épreuves suivantes :</h2>
    {% for epreuve in epreuves %}
        <input type="checkbox" name="epreuves" value="{{ epreuve.id }}"> {{ epreuve.nom }}<br>
    {% endfor %}
    <button type="submit">Valider</button>
</form>
{% endblock %}