{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1>Retour sur l'épreuve {{ epreuve.nom }}</h1>
        <div class="mb-3">
            <br>
            <h5 style="text-align:center">Informations générales</h5>
            <p><strong>Date de début :</strong> {{ epreuve.date_debut|date:"d M Y H:i" }}</p>
            <p><strong>Date de fin :</strong> {{ epreuve.date_fin|date:"d M Y H:i" }}</p>
            <p><strong>Statut :</strong> {{ epreuve.est_close|yesno:"Fermée,Ouverte" }}</p>
        </div>

        <div class="mb-4">
            <br>

            <h5 style="text-align:center">Statistiques de participation</h5>
            <p><strong>Nombre total d'équipes inscrites :</strong> {{ total_inscrits }}</p>
            <p><strong>Nombre d'équipes ayant ouvert l'épreuve :</strong> {{ total_participants }}</p>
            {% if epreuve.inscription_externe %}
                <p><strong>Nombre total de groupes d'équipes :</strong> {{ total_groupes_inscrits }}</p>
                <p><strong>Nombre de groupes dont au moins une équipe a ouvert l'épreuve
                    :</strong> {{ total_groupes_avec_participation }}</p>
            {% endif %}
        </div>
        <br>
        <br>
        <h5 style="text-align:center">Exporter les données</h5>

        <button onclick="window.location.href='{% url 'export_data' epreuve.hashid 'exercice' %}'">
            Exporter par exercice
        </button>
        <button onclick="window.location.href='{% url 'export_data' epreuve.hashid 'participant' %}'">
            Exporter par équipe
        </button>
        <br><br>

        <br>
        <br>
        <h5 style="text-align:center">Retour global</h5>

        <div class="table-responsive">
            <table class="table participants-table">
                <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>ID du groupe</th>
                    <th>Date de début</th>
                    <th>Bonnes réponses</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.username }}</td>
                        <td>{{ participant.groupe_id }}</td>
                        <td>{{ participant.debut_epreuve }}</td>
                        <td>{{ participant.bonnes_reponses }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <br>
        <p style="text-align: center;"> #######################################################</p>
        <br>


        <!-- Tableau de données -->
        <h5 style="text-align:center">Rendu détaillé</h5>

        <div class="table-responsive">
            <table class="table data-table">
                <thead>
                <tr>
                    <th>Nom d'utilisateur</th>
                    <th>ExerciceID</th>
                    <th>Titre de l'exercice</th>
                    <th>Réponse au jeu de test</th>
                    <th>Réponse attendue</th>
                    <!-- <th>Code du Participant</th>
                    <th>Jeu de Test</th>
                    -->
                </tr>
                </thead>
                <tbody id="table-body">
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-6 mb-4">
                <label for="exercice-select">Sélectionner un exercice:</label>
                <select id="exercice-select" class="form-control">
                    <option value="all">Tous les exercices</option>
                    {% for exercice in exercices %}
                        <option value="{{ exercice.id }}">{{ exercice.titre }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 mb-4">
                <label for="participant-select">Sélectionner une équipe:</label>
                <select id="participant-select" class="form-control">
                    <option value="all">Toutes les équipes</option>
                    {% for participant in participants %}
                        <option value="{{ participant.id }}">{{ participant.username }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}

    <script>
        // Injection de données JS depuis Django
        const originalData = {{ data_for_js|safe }};
    </script>
    <script src="{% static 'js/data_tables_custom.js' %}?v={{ STATIC_VERSION }}"></script>


{% endblock %}
