{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block prescripts %}
    <script src="{% static 'js/charger_mathjax.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.0/es5/tex-mml-chtml.js"
            crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ epreuve.nom }}</h1> <br/> <br/>

        <div id="etat-exercices"></div>
        {% if epreuve.temps_limite %}
            <div id="chronometre">Temps restant : <span id="temps-restant"></span></div>
            {{ epreuve.duree }}
        {% endif %}

        <div class="exercise-navigation">
            <button id="prev-exercise" class="btn nav-btn"
                    data-un-par-un="{{ epreuve.exercices_un_par_un }}">
                <i class="fa-solid fa-arrow-left" style="color:white;"></i>
            </button>


            <div id="exercice-container" class="exercise-box"></div>
            <button id="next-exercise" class="btn nav-btn"><i class="fa-solid fa-arrow-right" style="color:white;"></i>
            </button>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="application/json" id="exercises-data">
    {{ exercices_json|safe }}
    </script>

    <script src="{% static 'js/affichage_exercices/chronometre.js' %}"></script>
    <script type="module" src="{% static 'js/affichage_exercices/main.js' %}"></script>
{% endblock %}
