{% extends 'olympiadesnsi/base_extranet.html' %}

{% block content %}
    <div class="container">
        <h2>Confirmation</h2>
        <p>Merci pour votre demande d'inscription.
            Un email va vous être envoyé. Cet email contient les noms d'utilisateurs et mots de passes des équipes. </p>
        
        <p>Les participants peuvent modifier leur mot de passe une fois connectés.</p>
    
        <p>Il est possible qu'il faille attendre quelques minutes pour que l'inscription soit effective.</p>
    </div>
{% endblock %}
