{% extends 'olympiadesnsi/base_extranet.html' %}
{% load static %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container my-4">

        <form method="post" id="inscriptionForm">
            {% csrf_token %}
            <input type="hidden" id="id_epreuve_id" name="epreuve_id" value="">
            <div class="col-md-6 mb-3">
                <div class="form-group">
                    <label for="id_epreuve">Épreuve</label>
                    <select name="epreuve" id="id_epreuve" class="form-control">
                        <option value="">Sélectionnez une épreuve</option>
                        {% for epreuve in form.fields.epreuve.queryset %}
                            <option value="{{ epreuve.id }}"
                                    data-hashid="{{ epreuve.hashid }}">{{ epreuve.code }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 mb-3">
                    {{ form.identifiant|as_crispy_field }}
                </div>
                <div class="col-md-auto mb-3 d-flex align-items-center">
                    <span style="margin: 0 1px; margin-left:-15px">@</span>
                </div>
                <div class="col-md-5 mb-3">
                    <label for="id_domaine_academique" class="form-label select-with-scroll">Domaine Académique</label>
                    <select name="domaine_academique" id="id_domaine_academique" class="form-control">
                        <option value="">Sélectionnez un domaine</option>
                    </select>
                </div>
            </div>

            <div class="alert alert-warning py-2 px-3 small mb-2">
                Attention : nous avons observé des difficultés avec les alias.
                Nous vous recommandons de renseigner votre adresse académique principale.
            </div>
            <div id="error-message" style="display: none; color: red; margin-bottom: 10px;"></div>

            <div class="form-group">
                {{ form.consentement|as_crispy_field }}
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>
        </form>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

    </div>
{% endblock %}
{% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'js/demande_inscription.js' %}?v={{ STATIC_VERSION }}"></script>

{% endblock %}