{% extends 'olympiadesnsi/base_extranet.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container my-4">
        <h1 class="mb-4">{{ epreuve }} </h1>
        <h2 class="mb-4">Inscription des participants (ou équipes) </h2>
        <form method="post" id="inscriptionEquipeForm">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Inscrire des participants</button>
        </form>
    </div>
{% endblock %}
