{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}
    <div class="container mt-4">
    {% if epreuve %}
        <h1 style="text-align: center">{{ epreuve.nom}}</h1>

    {% else %}
    <h1 style="text-align: center">{{ "Création d'une nouvelle épreuve" }}</h1>
    {% endif %}
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form %}
                {% if field.name != 'domaines_autorises' %}
                    <div class="form-group mb-3">
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                        {% if field.help_text %}
                            <i class="fas fa-question-circle ml-2" data-bs-toggle="tooltip" data-bs-placement="top"
                               title="{{ field.help_text }}"></i>
                        {% endif %}
                        {{ field }}
                        {% if field.errors %}
                            <div class="alert alert-danger">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}

            <div class="form-group mb-3 {% if not form.inscription_externe.value %}hidden-inscription-externe{% endif %}"
                 id="domaines-autorises-container">
                <p>Listez les noms de domaines autorisés à inscrire des participants à l'épreuve (un email de
                    confirmation sera envoyé aux personnes souhaitant inscrire des participants au moment de
                    l'inscription). Les domaines doivent commencer par @, un domaine par ligne.</p>
                {{ form.domaines_autorises }}
                <p id="domaines_count" class="mt-2"></p>

            </div>


            {% if epreuve %}
                {% if epreuve.id %}
                <h2>Exercices</h2>
                <ul>
                    {% for exercice in exercices %}
                        <div class="exercice-row" data-exercice-id="{{ exercice.id }}">
                            <input type="hidden" name="exercice_order" value="{{ exercice.id }}">
                            <button type="button" class="move-up"><i class="fa fa-chevron-up"></i></button>
                            <button type="button" class="move-down"><i class="fa fa-chevron-down"></i></button>
                            {{ exercice.titre }}
                        </div>
                    {% endfor %}
                </ul>
            {% endif %}  {% endif %}


            <button type="submit" class="btn btn-primary">Envoyer</button>
            <a href="{% url 'espace_organisateur' %}" class="btn btn-secondary">Annuler</a>
        </form>
    </div>
{% endblock %}


{% block scripts %}
    <script src="{% static 'js/inscriptions_externes.js' %}?v={{ STATIC_VERSION }}"></script>
    <script src="{% static 'js/ordre_exercices.js' %}?v={{ STATIC_VERSION }}"></script>

{% endblock %}
