{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}
    <h1>Espace personnel de {{ nom }}</h1>
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Mes Épreuves</span>
                        <a href="{% url 'importer_epreuve_json' %}" class="btn btn-primary btn-sm">
                            Importer Épreuve (JSON)
                        </a>
                        <a href="{% url 'creer_epreuve' %}" class="btn btn-primary btn-sm">
                            Créer Épreuve
                        </a>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Référent</th>
                                <th>Comité</th>
                                <th>Inscrits</th>
                                <th>Exercices</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for epreuve, nombre_organisateurs, groupes_participants, nombre_groupes, participants_uniques, nombre_exercices, membres_comite in epreuves_info %}
                                <tr>
                                    <td>{{ epreuve.nom }}</td>
                                    <td>{{ epreuve.referent.username }}</td>
                                    <td>
                                        {{ nombre_organisateurs }}
                                        <button type="button" class="btn btn-link p-0"
                                                onclick="toggleComite('comite-{{ epreuve.hashid }}')">
                                            <i class="fas fa-users"></i>
                                        </button>
                                        {% if request.user == epreuve.referent %}
                                            <button type="button" class="btn btn-link p-0"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#addOrganizerModal"
                                                    data-ajout-orga-url="{% url 'ajouter_organisateur' epreuve.hashid %}">
                                                <i class="fas fa-plus-circle"></i>
                                            </button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ nombre_groupes}} ({{participants_uniques}})
                                        <button type="button" class="btn btn-link p-0"
                                                onclick="toggleComite('groupes-{{ epreuve.hashid }}')">
                                            <i class="fas fa-users"></i>
                                        </button>
                                        <a href="{% url 'inscrire_groupes_epreuve' epreuve.hashid %}">
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {{ nombre_exercices }}
                                        <button type="button" class="btn btn-link p-0"
                                                onclick="toggleComite('exercices-{{ epreuve.hashid }}')">
                                            <i class="fas fa-list-ul"></i>
                                        </button>
                                        <a href="{% url 'creer_exercice' epreuve.hashid %}">
                                            <i class="fas fa-plus-circle"></i>
                                        </a>
                                    </td>

                                    <td>
                                        <button type="button" class="btn btn-link p-0"
                                                onclick="location.href='{% url 'visualiser_epreuve' epreuve.hashid %}'"
                                                title="Voir l'épreuve">
                                            <i class="fas fa-eye"></i>
                                        </button>

                                        <button type="button" class="btn btn-link p-0"
                                                onclick="location.href='{% url 'editer_epreuve' epreuve.hashid %}'"
                                                title="Éditer l'épreuve">
                                            <i class="fas fa-edit"></i>
                                        </button>

                                        <button type="button" class="btn btn-link p-0"
                                                onclick="location.href='{% url 'rendus_participants' epreuve.hashid %}'"
                                                title="Corriger les rendus">
                                            <i class="fas fa-marker"></i>
                                        </button>

                                        <button type="button" class="btn btn-link p-0"
                                                onclick="location.href='{% url 'copier_epreuve' epreuve.hashid %}'"
                                                title="Copier l’épreuve">
                                            <i class="fas fa-clone"></i>
                                        </button>

                                        <button type="button" class="btn btn-link p-0"
                                                onclick="location.href='{% url 'exporter_epreuve' epreuve.hashid %}'"
                                                title="Exporter l’épreuve en JSON">
                                            <i class="fas fa-file-download"></i>
                                        </button>

                                        {% if request.user == epreuve.referent %}
                                            <button type="button" class="btn btn-link text-danger p-0"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#confirmDeleteModal"
                                                    data-epreuve-url="{% url 'supprimer_epreuve' epreuve.hashid %}">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        {% endif %}

                                    </td>
                                </tr>
                                <tr id="exercices-{{ epreuve.hashid }}" class="table-secondary toggle-element" style="display:none;">
                                    <td colspan="5">
                                        <ul>
                                            {% for exercice in epreuve.exercices.all %}
                                                <li>
                                                    {{ exercice.titre }}
                                                    <a href="{% url 'editer_exercice' epreuve.hashid exercice.hashid %}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="{% url 'supprimer_exercice' epreuve.hashid exercice.hashid %}"
                                                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet exercice ?');">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </td>
                                </tr>

                                <tr id="comite-{{ epreuve.hashid }}" class="table-secondary toggle-element"
                                    style="display:none;">
                                    <td colspan="7">
                                        <ul class="liste_espace_orga">
                                            {% for membre_comite in membres_comite %}
                                                <li>
                                                    {{ membre_comite.username }}
                                                    {% if request.user == epreuve.referent and membre_comite != epreuve.referent %}
                                                        <a href="{% url 'supprimer_organisateur' epreuve.hashid membre_comite.id %}"
                                                           class="text-danger"
                                                           onclick="return confirm('Supprimer ce membre du comité ?');">
                                                            <i class="fas fa-trash-alt"></i>
                                                        </a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>

                                <tr id="groupes-{{ epreuve.hashid }}" class="table-secondary toggle-element"
                                    style="display:none;">
                                    <td colspan="7">
                                        <ul class="liste_espace_orga">
                                            {% for groupe in groupes_participants %}
                                                <li>
                                                    {{ groupe.nom }}
                                                    {% if request.user == epreuve.referent %}
                                                       <a href="{% url 'desinscrire_groupe_epreuve' epreuve.hashid groupe.hashid %}" title="Désinscrire le groupe">
                                                           <i class="fas fa-minus-circle"></i>
                                                       </a>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>

                                    </td>
                                </tr>



                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Mes Groupes</span>
                        <a href="{% url 'creer_groupe' %}" class="btn btn-primary btn-sm">
                            Créer groupe
                        </a>
                    </div>

                    <div class="card-body">
                        <table id="tableGroupes" class="table">
                            <thead>
                            <tr>
                                <th>Groupes</th>
                                <th>Membres</th>
                                <th>Statut</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for groupe in groupes_crees %}
                                <tr>
                                    <td>{{ groupe.nom }}</td>
                                    {% with groupe_nombre=groupe.get_nombre_participants %}
                                        <td data-order="{{ groupe_nombre }}">
                                            {{ groupe_nombre }}
                                            <button type="button" class="btn btn-link p-0"
                                                    onclick="toggleMembres('membres-{{ groupe.id }}')">
                                                <i class="fas fa-users"></i>
                                            </button>
                                        </td>
                                    {% endwith %}
                                    <td data-order="{{ groupe.statut }}">
                                        {% if groupe.statut == 'VALIDE' %}
                                            <i class="fas fa-check-circle" style="color: green;"></i>
                                        {% elif groupe.statut == 'CREATION' %}
                                            <i class="fas fa-sync-alt" style="color: orange;"></i>
                                        {% elif groupe.statut == 'ECHEC' %}
                                            <i class="fas fa-times-circle" style="color: red;"></i>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <i class="fas fa-edit"></i>
                                        <button type="button" class="btn btn-link p-0 text-danger"
                                                data-bs-toggle="modal"
                                                data-bs-target="#confirmDeleteGroupModal"
                                                data-groupe-url="{% url 'supprimer_groupe' groupe.id %}">
                                            <i class="fas fa-trash-alt"></i>
                                        </button>
                                        {% if groupe.email_contact %}
                                            <a href="{% url 'envoyer_email_participants' groupe.id %}"
                                               class="text-info">
                                                <i class="fas fa-envelope"></i>
                                            </a>
                                        {% else %}
                                            <form method="post" action="{% url 'telecharger_csv' %}" class="d-inline">
                                                {% csrf_token %}
                                                <input type="hidden" name="groupe_id" value="{{ groupe.id }}">
                                                <button type="submit" class="btn btn-link p-0 text-secondary"
                                                        title="Re-télécharger le CSV des participants du groupe">
                                                    <i class="fas fa-file-csv"></i>
                                                </button>
                                            </form>
                                        {% endif %}
                                    </td>

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmation de suppression d'épreuve-->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Êtes-vous sûr de vouloir supprimer cette épreuve ?</p>
                    <p>Seront également supprimés :</p>
                    <ul style="padding-left: 20px;">
                        <li>tous ses exercices associés</li>
                        <li>toutes les données associées aux candidats pour cette épreuve</li>
                        <li>tous les groupes inscrits par des extérieurs pour cette épreuve</li>
                    </ul>
                    <p>Cette action est irréversible.</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form method="post" action="" id="confirmDeleteForm">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmation de suppression de groupe-->
    <div class="modal fade" id="confirmDeleteGroupModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la Suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cette action supprimera ce groupe, toutes les données associant ce groupe aux épreuves auxquelles ils étaient inscrits, ainsi que tous les utilisateurs ne faisant partie d'aucun autre groupe.
                    Cette action est irréversible. Confirmez :
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour ajouter un organisateur -->
    <div class="modal fade" id="addOrganizerModal" tabindex="-1" aria-labelledby="addOrganizerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOrganizerModalLabel">Ajouter un Organisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="addOrganizerForm" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-organisateur">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username-organisateur" name="username"
                                   maxlength="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/modals_espace_participant.js' %}"></script>
    <script src="{% static 'js/espace_orga.js' %}"> </script>
{% endblock %}
