{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}
    <h1>Espace personnel de {{ nom }}</h1>
    <div class="container mt-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Mes Épreuves</span>
                        <a href="{% url 'creer_epreuve' %}" class="btn btn-primary btn-sm">
                            Créer Épreuve
                        </a>
                    </div>

                    <div class="card-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Référent</th>
                                <th>Comité</th>
                                <th>Groupes</th>
                                <th>Participants</th>
                                <th>Exercices</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for epreuve, nombre_organisateurs, groupes_participants, nombre_groupes, participants_uniques, nombre_exercices, membres_comite in epreuves_info %}
                                <tr>
                                    <td>{{ epreuve.nom }}</td>
                                    <td>{{ epreuve.referent.username }}</td>
                                    <td>
                                        {{ nombre_organisateurs }}
                                        <a href="#" onclick="toggleComite('comite-{{ epreuve.id }}'); return false;">
                                            <i class="fas fa-users"></i>
                                        </a>
                                        {% if request.user == epreuve.referent %}

                                            <a href="#" data-bs-toggle="modal" data-bs-target="#addOrganizerModal"
                                               data-ajout-orga-url="{% url 'ajouter_organisateur' epreuve.id %}">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>

                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ nombre_groupes }}
                                        <a href="#" onclick="toggleComite('groupes-{{ epreuve.id }}'); return false;">
                                            <i class="fas fa-users"></i>
                                        </a>

                                        {% if request.user == epreuve.referent %}

                                            <a href="{% url 'inscrire_groupe_epreuves' epreuve.id %}">
                                                <i class="fas fa-plus-circle"></i>
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td>{{ participants_uniques }}</td>
                                    <td>
                                        {{ nombre_exercices }}
                                        <a href="#"
                                           onclick="toggleComite('exercices-{{ epreuve.id }}'); return false;">
                                            <i class="fas fa-list-ul"></i>
                                        </a>
                                        <a href="{% url 'creer_exercice' epreuve.id %}">
                                            <i class="fas fa-plus-circle"></i>
                                        </a>

                                    </td>
                                        <td>
                                            <a href="{% url 'visualiser_epreuve' epreuve.id %}">
                                                <i class="fas fa-eye"></i>
                                            </a>
                                            {% if request.user == epreuve.referent %}

                                                <a href="{% url 'editer_epreuve' epreuve.id %}">
                                                <i class="fas fa-edit"></i>
                                            </a>
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                                                   data-epreuve-url="{% url 'supprimer_epreuve' epreuve.id %}"
                                                   class="text-danger">
                                                    <i class="fas fa-trash-alt"></i>
                                                </a>

                                            {% endif %}
                                        </td>
                                </tr>
                                <tr id="exercices-{{ epreuve.id }}" class="table-secondary toggle-element" style="display:none;">
                                    <td colspan="5">
                                        <ul>
                                            {% for exercice in epreuve.exercice_set.all %}
                                                <li>
                                                    {{ exercice.titre }}
                                                    <a href="{% url 'editer_exercice' epreuve.id exercice.id %}">
                                                        <i class="fas fa-edit"></i>
                                                    </a>
                                                    <a href="{% url 'supprimer_exercice' exercice.id %}"
                                                       onclick="return confirm('Êtes-vous sûr de vouloir supprimer cet exercice ?');">
                                                        <i class="fas fa-trash-alt"></i>
                                                    </a>
                                                </li>
                                            {% endfor %}

                                        </ul>
                                    </td>
                                </tr>

                                <tr id="comite-{{ epreuve.id }}" class="table-secondary toggle-element" style="display:none;">
                                    <td colspan="7">
                                        <ul>
                                            {% for membre_comite in membres_comite %}
                                                <li>{{ membre_comite.username }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>

                                <tr id="groupes-{{ epreuve.id }}" class="table-secondary toggle-element"
                                    style="display:none;">
                                    <td colspan="7">
                                        <ul>
                                            {% for groupe in groupes_participants %}
                                                <li>{{ groupe.nom }}</li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                </tr>



                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-center">
                        <span>Mes Groupes</span>
                        <a href="{% url 'creer_groupe' %}" class="btn btn-primary btn-sm">
                            Créer groupe
                        </a>
                    </div>
                
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Groupes</th>
                                    <th>Membres</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for groupe in groupes_crees %}
                                <tr>
                                    <td>{{ groupe.nom }}</td>

                                    <td>
                                        {{ groupe.nb_membres }}
                                        <i class="fas fa-users" style="color:#3465a4"></i>
                                        <i class="fas fa-plus-circle" style="color:#3465a4"></i>
                                    </td>

                                    <td>
                                        {% if groupe.statut == 'VALIDE' %}
                                            <i class="fas fa-check-circle" style="color: green;"></i>
                                        {% elif groupe.statut == 'CREATION' %}
                                            <i class="fas fa-sync-alt" style="color: orange;"></i>
                                        {% elif groupe.statut == 'ECHEC' %}
                                            <i class="fas fa-times-circle" style="color: red;"></i>
                                        {% endif %}
                                    </td>

                                    <td>
                                        <i class="fas fa-edit" style="color:#3465a4"></i>

                                        <a href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteGroupModal"
                                           data-groupe-url="{% url 'supprimer_groupe' groupe.id %}"
                                           class="text-danger">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>

                                    </td>

                                </tr>
                                <tr id="membres-{{ groupe.groupe.id }}" class="table-secondary" style="display:none;">
                                    <td colspan="3">
                                        <!-- Tableau imbriqué ou autre contenu pour les détails des membres -->
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmation de suppression d'épreuve-->
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Êtes-vous sûr de vouloir supprimer cette épreuve ? Seront également supprimés :
                    - tous ses exercices associés
                    - toutes les données associées aux candidats pour cette épreuve
                    
                    Cette action est irréversible.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form method="post" action="" id="confirmDeleteForm">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de confirmation de suppression de groupe-->
    <div class="modal fade" id="confirmDeleteGroupModal" tabindex="-1" role="dialog"
         aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="confirmDeleteModalLabel">Confirmer la Suppression</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Cette action supprimera ce groupe, toutes les données associant ce groupe aux épreuves auxquelles ils étaient inscrits, ainsi que tous les utilisateurs ne faisant partie d'aucun autre groupe.
                    Cette action est irréversible. Confirmez :
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger" value="Supprimer">
                    </form>

                </div>
            </div>
        </div>
    </div>

    <!-- Modal pour ajouter un organisateur -->
    <div class="modal fade" id="addOrganizerModal" tabindex="-1" aria-labelledby="addOrganizerModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addOrganizerModalLabel">Ajouter un Organisateur</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form method="post" id="addOrganizerForm" action="">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="username-organisateur">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username-organisateur" name="username"
                                   maxlength="100">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script src="{% static 'js/modals_espace_participant.js' %}"></script>
{% endblock %}
