{% extends request.user|is_organisateur:'olympiadesnsi/base_organisateur.html'|default:'olympiadesnsi/base_participant.html' %}

{% block content %}

<div class="container mt-4">
    <h1>Profil de {{ user.username }}</h1>
    <br/>

    <!-- Lien conditionnel pour le changement de mot de passe -->
    {% if request.user.groups.all.0.name == "Organisateurs" %}
        <a href="{% url 'change_password_organisateur' %}" class="btn btn-primary">Modifier le mot de passe</a>
    {% else %}
        <a href="{% url 'change_password_participant' %}" class="btn btn-primary">Modifier le mot de passe</a>
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
</div>

{% endblock %}
