{% extends 'olympiadesnsi/base_organisateur.html' %}

{% block content %}

    <div class="container mt-4">
        <h1>Profil de {{ user.username }}</h1>
        <br/>

        <form method="post" action="{% url 'change_password_organisateur' %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Modifier le mot de passe</button>
        </form>

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}
