{% extends 'olympiadesnsi/base_organisateur.html' %}

{% block content %}
    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-3">Téléchargement du fichier CSV</h2>
                <p class="lead">Votre fichier CSV contenant les noms et mots de passe des participants est prêt.</p>
                <p class="lead">Avertissement : Il peut falloir quelques secondes à quelques minutes pour que les
                    utilisateurs soient définitivement rentrés en base de données !</p>
                <p class="lead">Les participants pourront changer leur mot de passe sur leur espace participant une
                    fois connectés.</p>
                <p class="text-info">Veuillez noter que ce fichier ne pourra pas être généré ultérieurement.
                    Assurez-vous de le télécharger maintenant.</p>

                <!-- Bouton pour télécharger le fichier CSV -->
                <button class="btn btn-primary btn-lg btn-block" onclick="downloadCSV()">Télécharger le fichier CSV
                </button>

                <a href="{% url 'telecharger_csv' %}" id="downloadLink" style="display:none;">Lien de Téléchargement</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        function downloadCSV() {
            var link = document.getElementById('downloadLink');
            link.click();
        }
    </script>
{% endblock %}
