{% extends 'olympiadesnsi/base_organisateur.html' %}
{% load static %}

{% block content %}

    <form id="downloadForm" action="{% url 'telecharger_csv' %}" method="POST" style="display: none;">
        {% csrf_token %}
        <input type="hidden" name="groupe_id" value="{{ groupe.id }}">
    </form>

    <div class="container mt-4">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="mb-3">Téléchargement du fichier CSV</h2>
                <p class="lead">Votre fichier CSV contenant les noms participants est prêt.</p>
                <p class="lead">Les mots de passe seront définis à leur première connexion.</p>
                <p class="lead">En cas d'oubli de mot de passe, vous pourrez en re-générer depuis l'intranet
                    organisateur.</p>
                <p class="text-info">
                    Veuillez noter que ce fichier ne pourra pas être généré ultérieurement.
                    Assurez-vous de le télécharger maintenant.
                </p>

                <button class="btn btn-primary btn-lg btn-block" id="btn-telecharger">
                    Télécharger le fichier CSV
                </button>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/telecharge_csv_users.js' %}?v={{ STATIC_VERSION }}"></script>
{% endblock %}
