{% extends 'olympiadesnsi/base.html' %}

{% block navbar %}
    {% if request.user.is_authenticated %}
        {% if utilisateur_est_organisateur %}
            {% include 'olympiadesnsi/nav_organisateur.html' %}
        {% elif utilisateur_est_participant %}
            {% include 'olympiadesnsi/nav_participant.html' %}
        {% else %}
            {% include 'olympiadesnsi/nav_extranet.html' %}
        {% endif %}
    {% else %}
        {% include 'olympiadesnsi/nav_extranet.html' %}
    {% endif %}
{% endblock %}
