<!DOCTYPE html>
<html lang="fr">
    <head>
        <title> Olympiades NSI </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="../../../static/css/style.css">
        
    </head>
    
    <body>
    {% block content %}{% endblock %}
    

    <footer>
        <p>Olympiades Nationales de NSI, session 2024</p>
        <!-- Autres éléments du footer -->
    </footer>
    </body>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

</html>


