<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Olympiades NSI</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css">
    <link href="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.css" rel="stylesheet">    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/v/dt/dt-2.0.3/datatables.min.js"></script>    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    {% block prescripts %}{% endblock %}
</head>

<body>
{% block navbar %} {% endblock %}
<div>
<br>    
</div>

{% block content %} {% endblock %}
<footer class="mt-auto py-4 bg-light">
  <div class="container text-center">
    <div class="logo-container my-3">
        <img src="{% static 'images/logoAC_MONTPELLIER.jpg' %}" alt="Logo Académie de Montpellier" class="logo-academie ms-2">
        <img src="{% static 'images/logoAC_TOULOUSE.jpg' %}" alt="Logo Académie de Toulouse" class="logo-academie ms-2">
        <img src="{% static 'images/logoAC_VERSAILLES.png' %}" alt="Logo Académie de Versailles"
             class="logo-academie me-2">

    </div>
    <p class="footer-text mb-0">Olympiades de NSI des académies de Montpellier, Toulouse et Versailles pour la session de 2025</p>
  </div>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
{% block scripts %}{% endblock %}
</body>
</html>
